
*
{
    box-sizing: border-box;

}

body
{
    background-image: url(../image/board.jpg);
    background-position: center;
}


@media (max-width:743px)
{
    footer span
    {
        font-size: 10px !important;
    }
    footer span i 
    {
        font-size: 13px !important;
    }
    
}

.navbar 
{
	background-color: rgba(0,0,0,.6);
    padding: 0 !important;
    margin: 0 auto 5px auto!important;  
    
}

.navbar-brand
{
	margin: auto 0 !important;
    padding: 0!important;
}
.navbar-brand span
{
    font-size: 25px;
    font-weight: 400;
    color: red;
    font-family: 'Courgette', cursive;

}
.navbar-brand i
{
    font-weight: 400;
    color: red;
    
}
.nav-link
{
    font-family: 'Acme', sans-serif;
    padding: 10px!important;
    color: white;
    font-size: 18px;
}
.navbar-toggler-icon i
{
    color: white;
    font-size: 25px;
}
.nav-link:hover
{
    color: red;
}
.regis span:hover
{
	color: red;
}
.regis 
{
	color: white;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
}
.regis span
{
	cursor: pointer;
    border: 1.5px solid white;
    padding: 3px;
}


.myBtn2
{
	background-color: black;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Acme', sans-serif;
}

.myBtn
{
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Acme', sans-serif;
	
}
.myBtn2:hover , .myBtn:hover
{
    color: red;
        
}

/*////////////////////////////////////////////*/

.media
{
    background-color: #ffffff;
    color: #777777;   
    min-height: 200px;
    border: 1px black solid;
    border-radius: 5px;
    box-shadow: 3px 13px 37px black;
    font-family: 'Acme', sans-serif;

    
}

.media-body {
	padding: 10px;
    
}
.media i
{
	color: red;
    font-size: 33px;
    padding: 6px;
    font-weight: 800;
}


.media
{
font-size: 18px;	 
}

.media h5
{
	font-size: 20px;
    font-weight: 700;
}
h1
{
    color:black;
    padding-bottom: 6px;
    border-bottom: 4px black solid;
    font-weight: 900;
   font-size: 40px;
        font-family: 'Acme', sans-serif;

}

/*////////////////////////////*/

footer
{
    background-color: rgba(0,0,0,.8);
    height: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer i
{
    margin: 3px;
    font-size: 23px;
    color: red;
}
footer span
{
    color: white;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
}